# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.Python

# Virtualenvs
venv/
env/
.venv/
webmapping_env/

# Django / builds
db.sqlite3
staticfiles/
staticfiles_production/
media/

# Node (if any)
node_modules/
