services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1
      - SECRET_KEY=your_secret_key_here
      - DATABASE_URL=postgres://postgres:postgres@db:5432/trails_db

  db:
    image: postgis/postgis:15-3.4
    platform: linux/amd64  # Use amd64 to work on your M1 Mac
    environment:
      POSTGRES_DB: trails_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
